body {
  background-color: #FFFAF2;
}

#nav_bar {
  background-color: #99E1D9;
  height: 65px;
  width: 100%;
  text-align:left;
}

#nav_bar ul {
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

#nav_bar li {
	display:inline;
}

#nav_bar li a{
	padding: 20px;
	text-decoration: none;
	font-size: 25px
}

table, th, td {
  border: 1px solid grey;
}

th, td {
  text-align: center;
  padding: 10px;
}

table tr:nth-child(even) {
  background-color: #EEEEEE;
}

table tr:nth-child(odd) {
 background-color: #FFFFFF;
}

#footer {
    background: #FFFAF2;
    padding: 20px;
}